* {
    font-family: Ubuntu Mono, Segoe UI, Helvetica, Arial;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-things {
    display: flex;
    flex-direction: column;
}
.main-things>* {
    align-items: center;
}

.header {

}





.positive {
	text-shadow: 0px 0px 30px green;
}

.negative {
	text-shadow: 0px 0px 30px red;
}

div.dec-lbl {
	font-size: 128px;
    margin-top: 30px;
}

button.dec-btn {
    font-size: 72px;
    margin-top: 30px;
    padding: 15px 50px;
    background: #fff;
    border-color: black;
    border-radius: 5px;
}
