* {
    font-family: Ubuntu Mono, Segoe UI, Arial;
}

#content {
    margin: auto;
    text-align: center;
    width: 70%;
    padding-top: 20%;
}

.positive {
	text-shadow: 0px 0px 30px green;
}

.negative {
	text-shadow: 0px 0px 30px red;
}

div.dec-lbl {
	font-size: 128px;
    margin-top: 30px;
}

button.dec-btn {
    font-size: 72px;
    margin-top: 30px;
    padding: 15px 50px;
    background: #fff;
    border-color: black;
    border-radius: 5px;
}
